

Create Table KUNDE
(
KUNDENNR varchar(10) NOT NULL,
VORNAME varchar(255),
NACHNAME varchar(255),
EMAIL varchar(255) REFERENCES USER(EMAIL),
ORGANISATIONSNAME varchar(255),
STRASSE varchar(255),
HAUSNUMMER varchar(10),
PLZ varchar(10) REFERENCES ORTE(PLZ),
TELEFONNR varchar(255),
HANDYNR varchar(255),
PRIMARY KEY (KUNDENNR)
);

CREATE TABLE WARENKORB
(
KUNDENNR varchar(10) NOT NULL REFERENCES KUNDE(KUNDENNR),
WARENKORBPRODUKTNR varchar(10) REFERENCES WARENKORBPRODUKT(WARENKORBPRODUKTNR),
WARENKORBPAKETNR varchar(10) REFERENCES WARENKORBPAKET(WARENKORBPAKETNR),
PRIMARY KEY(KUNDENNR)
);

CREATE TABLE WARENKORBPRODUKT
(
WARENKORBPRODUKTNR varchar(10) NOT NULL,
PRODUKTNR varchar(10) NOT NULL REFERENCES PRODUKT(PRODUKTNR),
PRIMARY KEY(WARENKORBPRODUKTNR, PRODUKTNR)
);

CREATE TABLE WARENKORBPAKET
(
WARENKORBPAKETNR varchar(10) NOT NULL,
PAKETNR varchar(10) NOT NULL REFERENCES PAKET(PAKETNR),
PRIMARY KEY(WARENKORBPAKETNR, PAKETNR)
);

CREATE TABLE ORTE
(
PLZ varchar(10) NOT NULL,
Ort varchar(255),
PRIMARY KEY (PLZ)
);

Create Table MITARBEITER
(
MITARBEITERNR varchar(10) NOT NULL,
VORNAME varchar(255),
NACHNAME varchar(255),
EMAIL varchar(255) REFERENCES USER(EMAIL),
PRIMARY KEY (MITARBEITERNR)
);

Create Table USER
(
EMAIL varchar(255) NOT NULL,
PASSWORT varchar(255) NOT NULL,
ISADMIN varchar(1),
PRIMARY KEY (EMAIL)
);

CREATE TABLE BESTELLUNG
(
BESTELLNR varchar(10) NOT NULL,
VON timestamp DEFAULT CURRENT_TIMESTAMP,
BIS timestamp DEFAULT CURRENT_TIMESTAMP,
KUNDENNR varchar(10) REFERENCES KUNDE(KUNDENNR),
BESTAETIGT varchar(1),
GASTNR varchar(10) REFERENCES GAST(GASTNR),
PRIMARY KEY (BESTELLNR)
);

CREATE TABLE GAST
(
GASTNR varchar(10),
VORNAME varchar(255),
NACHNAME varchar(255),
EMAIL varchar(255),
ORGANISATIONSNAME varchar(255),
STRASSE varchar(255),
HAUSNUMMER varchar(10),
PLZ varchar(10) REFERENCES ORTE(PLZ),
TELEFONNR varchar(255),
HANDYNR varchar(255),
PRIMARY KEY (GASTNR)
);

CREATE TABLE BESTELLPRODUKTPOS
(
BESTELLNR varchar(10) NOT NULL REFERENCES BESTELLUNG(BESTELLNR),
PRODUKTNR varchar(10) NOT NULL REFERENCES PRODUKT(PRODUKTNR),
PRIMARY KEY (BESTELLNR, PRODUKTNR)
);

CREATE TABLE BESTELLPAKETPOS
(
BESTELLNR varchar(10) NOT NULL REFERENCES BESTELLUNG(BESTELLNR),
PAKETNR varchar(10) NOT NULL REFERENCES PAKET(PAKETNR),
PRIMARY KEY (BESTELLNR, PAKETNR)
);

CREATE TABLE FOTO
(
FOTONR varchar(10) NOT NULL,
FOTO varchar(255),
PRIMARY KEY (FOTONR)
);

CREATE TABLE FOTOPOS
(
FOTONR varchar(10) NOT NULL REFERENCES FOTO(FOTONR),
PRODUKTNR varchar(10) NOT NULL REFERENCES PRODUKT(PRODUKTNR),
PRIMARY KEY (FOTONR, PRODUKTNR)
);

CREATE TABLE PRODUKT
(
PRODUKTNR varchar(10) NOT NULL,
BEZEICHNUNG varchar(255),
HERSTELLERNAME varchar(255),
BESCHREIBUNG varchar(255),
DETAILS varchar(255),
MIETZINS varchar(10),
KATEGORIENR varchar(10) REFERENCES KATEGORIE(KATEGORIENR),
ALTERNATIVE varchar(10) REFERENCES PRODUKT(PRODUKTNR),
VERFUEGBAR varchar(1),
PRIMARY KEY (PRODUKTNR)
);

CREATE TABLE KATEGORIE
(
KATEGORIENR varchar(10) NOT NULL,
NAME varchar(255),
FOTONR varchar(10) REFERENCES FOTOS(FOTONR),
UNTERKATEGORIE varchar(10) REFERENCES KATEGORIE(KATEGORIENR),
PRIMARY KEY (KATEGORIENR, UNTERKATEGORIE)
);

CREATE TABLE PAKET
(
PAKETNR varchar(10) NOT NULL,
KATEGORIENR varchar(10) REFERENCES KATEGORIE(KATEGORIENR),
BEZEICHNUNG varchar(255) NOT NULL,
BESCHREIBUNG varchar(255),
DETAILS varchar(255),
MIETZINS varchar(10) NOT NULL,
FOTONR varchar(10) REFERENCES FOTO(FOTONR),
PRIMARY KEY (PAKETNR)
);

CREATE TABLE PAKETPOS
(
PAKETNR varchar(10) NOT NULL REFERENCES PAKET(PAKETNR),
PRODUKTNR varchar(10) NOT NULL REFERENCES PRODUKT(PRODUKTNR),
PRIMARY KEY (PAKETNR, PRODUKTNR)
);


/* Daten */
/* ORTE */
INSERT INTO ORTE VALUES('24106', 'Kiel');
INSERT INTO ORTE VALUES('24536', 'Neumünster');
INSERT INTO ORTE VALUES('20357', 'Hamburg');

/* KUNDE */
Insert into KUNDE Values('KNR000001', 'Peter', 'Panda', 'sunnyboy@knute.de', 'JohnnyCottenIndustries', 'Holzweg', '13a', '24106', '0431 666514', '0171 80666737');
Insert into KUNDE Values('KNR000002', 'Ulrich', 'Haseldorf', 'ulrich.haseldorf@web.de', 'Hifi-Ulrich', 'Ravensburger Straße', '22', '18055', '0672 49421', '02121 8214537');
Insert into KUNDE Values('KNR000003', 'Rüdiger', 'Schmidt', 'ruedigerhrc@web.de', 'DJHamburg', 'Stor Allee', '70b', '20357', '0751 25514', '0241 806134');

/* MITARBEITER */
INSERT INTO MITARBEITER VALUES( 'MNR0000001', 'Manfred','Hagenbeck','manfred.hagenbeck@web.de');
INSERT INTO MITARBEITER VALUES( 'MNR0000002', 'Roland','Fischer','rolandhrc@web.de');
INSERT INTO MITARBEITER VALUES( 'MNR0000003', 'Julia','Rein','Julia@HRC.de');

/* USER */
INSERT INTO USER VALUES('manfred.hagenbeck@web.de','12345','j');
INSERT INTO USER VALUES('rolandhrc@web.de','12345','');
INSERT INTO USER VALUES('Julia@HRC.de','12345','');

/* FOTO */
INSERT INTO FOTO VALUES('FNR0000001','http://localhost:8084/HipsterRentalCorp/FileZillaImageRessource/Lichttechnik/Allgemein/lichttechnik_mieten.jpg');
INSERT INTO FOTO VALUES('FNR0000002','http://localhost:8084/HipsterRentalCorp/FileZillaImageRessource/Lichttechnik/Beamer/Beamer Acer X321 Overdrive/acerbeamer.jpg');
INSERT INTO FOTO VALUES('FNR0000003','http://localhost:8084/HipsterRentalCorp/FileZillaImageRessource/Lichttechnik/Beamer/Beamer GeoLo 600/beamer1.bmp');


/* KATEGORIE */
INSERT INTO KATEGORIE VALUES('KATNR00001','Lichttechnik','FNR0000001', 'KATNR00002');
INSERT INTO KATEGORIE VALUES('KATNR00001','Lichttechnik','FNR0000001', 'KATNR00003');
INSERT INTO KATEGORIE VALUES('KATNR00001','Lichttechnik','FNR0000001', 'KATNR00004');

/* PRODUKT */
INSERT INTO PRODUKT VALUES('PNR0000001','SAR-24 Nebelmaschine','SAR technologies','Diese Nebelmaschine der Spitzenklasse lässt ihre Party zu einem echten Hit werden. Ohne Witz.','Eine Nebelmaschine','15,00','KATNR00003', 'PNR0000003','j');
INSERT INTO PRODUKT VALUES('PNR0000002','Dunst-Nebelmschine Soflar 500','Soflar','Ein transparenter Dunst erzeugt eine tolle Atmosphäre ohne den Raum zu vernebeln.','Eine Nebelmaschine', '15,00','KATNR00003', 'PNR0000003','j');
INSERT INTO PRODUKT VALUES('PNR0000003','Smoke Factory Hazer','Smoke Factory','Professionelles Gerät für die perfekte Atmosphäre auf ihrer Party.','Eine Nebelmaschine', '24,00','KATNR00003', '','j');

/* FOTOPOS */
INSERT INTO FOTOPOS VALUES('FNR0000002', 'PNR0000010');
INSERT INTO FOTOPOS VALUES('FNR0000003', 'PNR0000011');
INSERT INTO FOTOPOS VALUES('FNR0000004', 'PNR0000011');

/* BESTELLUNG */
INSERT INTO BESTELLUNG VALUES('BNR0000001', '2015-10-12 16:30:00','2015-10-16 12:45:00','KNR0000001', '', '');

/* BESTELLPRODUKTPOS */
INSERT INTO BESTELLPRODUKTPOS VALUES('BNR0000001','PNR0000001');
INSERT INTO BESTELLPRODUKTPOS VALUES('BNR0000001','PNR0000002');

/* BESTELLPAKETPOS */
INSERT INTO BESTELLPAKETPOS VALUES('BNR0000001','PAKNR00001');

/* PAKET */
INSERT INTO PAKET VALUES('PAKNR00001', 'KATNR00001', 'Leuchtspektakel', 'Beleuchtung aller Art', 'Ein Paket', '84,99', 'FNR0000001');
INSERT INTO PAKET VALUES('PAKNR00002', 'KATNR00005', 'Bass-Boost', 'Guter Sound für gute Kunden', 'Ein Paket', '104,99', 'FNR0000015');

/* PAKETPOS */
INSERT INTO PAKETPOS VALUES('PAKNR00001', 'PNR0000004');
INSERT INTO PAKETPOS VALUES('PAKNR00001', 'PNR0000005');
INSERT INTO PAKETPOS VALUES('PAKNR00001', 'PNR0000006');


